[user]
	name = dfeagans
	email = dane.feagans@gmail.com
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	c = commit -m
	a = add
	s = status
 	d = diff
[core]
	excludesfile = /home/ubuntu/.gitignore_global
	# I would normally specify editor = emacs here so that git uses emacs for commit messages, but that's
	# already handled because git uses whatever's specified in the VISUAL or EDITOR environment variables
	# by default and my .bashrc specifies those as emacs -nw (no windowing system).
